.main_div header{
    padding: 20px;
    line-height: 1.5em;
    font-size: 6rem;
     font-Weight: 600; 
     margin-Bottom: 2rem;
     line-Height: 1em;
     color: #ececec;
      text-Transform: lowercase;
     text-Align: center;
}